@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  font-family: "Lato", sans-serif;
}

body {
  background: #f7fcff;
  background-image: url(../svg/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

span {
  color: #335c81;
  font-size: 14px;
}

a {
  display: block;
}

.box-shadow {
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 20%);
}

.border-radius {
  border-radius: 25px;
  background: #fff;
}

.btn--primary {
  text-decoration: none;
  display: inline-block;
  align-self: center;
  padding: 0.65em 1.5em;
  background: #fff;
  color: #223344;
  cursor: pointer;
  border-radius: 5px;
}

.btn--primary:hover {
  background: #f7fcff;
  color: #335c81;
}

.btn--primary:first-of-type {
  margin: 0;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 4rem;
  text-align: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 4rem;
  max-width: 40%;
  margin: 0 auto;
}

.imprint-content { 
  font-size: 1.5em;
  flex-direction: column
  display: inline-flex;
}

@media only screen and (max-width: 786px) {
  nav {
    flex-direction: column;
    padding: 1rem;
  }

  nav a {
    word-wrap: break-word;
    width: 110px;
    margin-top: 2rem;
  }
}
