* {
  font-family: "Lato", sans-serif;
}

h2 {
  margin-bottom: 0; 
}

iframe {
  margin-top: 1rem;
  max-width: 100%;
}

.with-margin {
  margin: 1rem 0; 
}

.centered-flex {
  align-items: center;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  padding: 4rem;
  max-width: 650px;
}

.portfolio-item-teaser {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0;
}

.portfolio-item-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem; 
  padding: 2rem;
  max-width: 715px;
  text-align: center;
}

.portfolio-item-intro p {
  align-self: center;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 600px;
  width: 100%;
}

.image .split {
  width: 50%;
}

.portfolio-content {
  display: flex;
  flex-direction: column;
}

.portfolio-headline {
  margin: 0 auto;
  color: #333;
}

.portfolio-description {
  color: #335C81;
  max-width: 90%;
  margin-bottom: 0;
}

@media only screen and (max-width: 786px) {
  .portfolio-row {
    display: none;
  }
}
