@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

body {
  background: #F7FCFF;
  background-image: url(../svg/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h2 {
  margin-bottom: 0;
}

span {
  color: #335C81;
  font-size: 14px;
}

.box-shadow {
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 20%);
}

.border-radius {
  border-radius: 25px;
  background: #fff;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
}

.hero-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 2rem;
}

.hero-image {
  background-image: url(../img/profile-pic.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  width: 150px;
  max-height: 150px;
}

/* .hero-text-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  color: #223344;
} */

.text-left h1 {
  margin-top: 0;
  color: #223344;
}

.text-left {
  display: inline-block;
  padding-left: 5rem;
  list-style-type: none;
  word-wrap: wrap-word;
  color: #223344;
}

.e-mail {
  text-decoration: none;
  color: #223344;
  cursor: pointer;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 4rem;
  text-align: center;
}

.btn--primary {
  text-decoration: none;
  display: inline-block;
  align-self: center;
  padding: 0.65em 1.5em;
  background: #fff;
  color: #223344;
  cursor: pointer;
  border-radius: 5px;
}

.btn--primary:hover {
  background: #F7FCFF;
  color: #335C81;
}

.btn--primary:first-of-type {
  margin: 0;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.cv-card {
  display: flex;
  margin: 4rem;
  padding: 4rem;
  word-wrap: break-word;
  width: 500px;
}

.timeline {
  list-style-type: none;
  border-left: 1px solid #223344;
}

/* .timeline::before {
  content: "";
  border: 1px solid #223344;
  height: 20em;
  position: absolute;
  left: 7%;
} */

.timeline-entry::before {
  position: absolute;
  content: "";
  border: 1px solid #223344;
  height: 25px;
  width: 25px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  margin-top: 0.2em;
  margin-left: 13.6rem;
  left: 0;
}

.skills-wrapper {
  display: flex;
  margin: 4em 4em 0 4rem; 
  flex-direction: column;
  align-items: flex-start;
  width: 15rem;
}

.skills-card {
  margin-bottom: 3rem;
  padding: 2rem;
  width: 7rem;
  height: 7rem;
}

.skills-card:nth-child(even) {
  background: red;
  align-self: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 4rem; 
}

.btn--footer {
  text-decoration: none;
  align-self: center;
  padding: 0.65em 1.5em;
  background: #fff;
  color: #223344;
  cursor: pointer;
  border-radius: 5px;
}

.btn--footer:hover {
  background: #F7FCFF;
  color: #335C81;
}


@media only screen and (max-width: 786px) {
  .hero-area {
    min-width: 280px;
    margin: 2rem 7rem;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    align-self: center;
  }

  .hero-image {
    height: 150px;
    margin-bottom: 2rem;
  }

  .text-left {
    padding: 0;
  }

  nav {
    flex-direction: column;
    padding: 1rem;
  }

  nav a {
    word-wrap: break-word;
    width: 110px;
    margin-top: 2rem;
  }

  .content-wrapper {
    flex-direction: column;
  }

  .cv-card {
    margin: 3rem;
    padding: 3rem;
    width: auto;
  }

  .skills-wrapper {
    margin: 2rem 3rem;
    width: auto;
  }

  .skills-card {
    margin-bottom: 1.5rem;
  }

  .timeline-entry::before {
    margin-left: 5.7rem;
  }
}