@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

body {
  background: #F7FCFF;
  background-image: url(../svg/bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box-shadow {
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 20%);
}

.border-radius {
  border-radius: 25px;
  background: #fff;
}

.hero-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
  margin: auto;
  margin-top: 3rem;
  width: 580px;
}

.hero-image {
  background-image: url(../img/profile-pic.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  width: 150px;
  max-height: 150px;
}

/* .hero-text-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  color: #223344;
} */

.text-left h1 {
  margin-top: 0;
  color: #223344;
}

.text-left {
  display: inline-block;
  padding-left: 5em;
  list-style-type: none;
  word-wrap: wrap-word;
  color: #223344;
}

.e-mail {
  text-decoration: none;
  color: #223344;
  cursor: pointer;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  padding: 4rem;
  text-align: center;
}

.btn--primary {
  text-decoration: none;
  display: inline-block;
  align-self: center;
  padding: 0.65em 1.5em;
  background: #fff;
  color: #223344;
  cursor: pointer;
  border-radius: 5px;
}

.btn--primary:hover {
  background: #F7FCFF;
  color: #335C81;
}

.btn--primary:first-of-type {
  margin: 0;
}

.content-wrapper {
  display: flex;
}

.cv-card {
  display: flex;
  margin: 4em 0 4em 4em;
  padding: 4rem;
  word-wrap: break-word;
  width: 500px;
}

.timeline {
  list-style-type: none;
}

.timeline::before {
  content: "";
  border: 1px solid #223344;
  height: 20em;
  position: absolute;
  left: 7%;
}

.timeline-entry::before {
  position: absolute;
  content: "";
  border: 1px solid #223344;
  height: 25px;
  width: 25px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  left: 7.5rem;
  margin-top: 0.2em;
}

h2 {
  margin-bottom: 0;
}

span {
  color: #335C81;
  font-size: 14px;
}