@import url('https://fonts.googleapis.com/css?family=Lato');

* {
  font-family: 'Lato', sans-serif;
}

body {
  background: #F7FCFF;
}

.hero-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;
  justify-content: center;
  width: 35%;
  margin: 0 30%;
}

.hero-image {
  background-image: url(../img/profile-pic.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.hero-text-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  color: #223344;
}

.text-left h1 {
  margin-top: 0;
  color: #223344;
}

.text-left {
  display: inline-block;
  padding-left: 5em;
  list-style-type: none;
  word-wrap: wrap-word;
}

.e-mail {
  text-decoration: none;
  color: #223344;
  cursor: pointer;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  height: 12vh;
  justify-content: space-between;
  padding: 4rem;
  text-align: center;
}

.btn--primary {
  text-decoration: none;
  display: inline-block;
  align-self: center;
  padding: 0.65em 1.5em;
  background: #fff;
  color: #223344;
  cursor: pointer;
  border-radius: 5px;
}

.btn--primary:hover {
  background: #F7FCFF;
  color: #335C81;
}

.box-shadow {
  box-shadow: -2px 2px 12px rgba(0, 0, 0, 20%);
}

.border-radius {
  border-radius: 25px;
  background: #fff;
}

.btn--primary:first-of-type {
  margin: 0;
}

.cv-wrapper {
  margin-left: 4em;
  margin-bottom: 4em;
  width: 35%;
  padding: 4rem;
  word-wrap: break-word;
}

